$font-primary: 'Open Sans', Arial, sans-serif;

$white: #fff;
$black: #000;
$primary: #ffa45c;

body {
  font-family: $font-primary;
  background: $white;
  font-size: 15px;
  line-height: 1.8;
  color: lighten($black, 50%);
}

a {
  transition: 0.3s all ease;
  color: $primary;
  &:hover, &:focus {
    text-decoration: none;
    color: $primary;
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  color: $black;
}

.text-primary {
  color: $primary !important;
}

.navbar-brand {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
